@{
}
<div class="container">
    <h5 class="mb-5">Admin Dashboard</h5>
    <div class="mb-5">
        <button type="button" class="btn btn-outline-primary btn-rounded fw-bold px-" onclick="window.location.href='/admin/customer/report'">
            Customer Report
        </button>
    </div>
    <div class="mb-5">
        <button type="button" class="btn btn-outline-primary btn-rounded fw-bold px-" onclick="window.location.href='/admin/order/report'">
            Order Report
        </button>
    </div>
    <div class="mb-5">
        <button type="button" class="btn btn-outline-primary btn-rounded fw-bold px-3" onclick="window.location.href='/admin/product/report'">
            Product Report
        </button>
    </div>
    <div class="mb-5">
        <button type="button" class="btn btn-primary btn-rounded px-3" onclick="window.location.href='/admin/product'">
            Product Editor
        </button>
    </div>
</div>

