@model AdminViewModel
@{
    ViewData["Title"] = "Order Report";
}
@section Styles {
    <style>
        body .container {
            width: 90%;
            max-width: none;
            padding: 0;
        }
    </style>
}

<div class="container">
    <div class="d-flex justify-content-between">
        <h5 class="my-auto">Order Report</h5>
        <a href="/admin">
            <div class="btn btn-outline-primary btn-rounded fw-bold w-20 my-3 mx-1">
                Dashboard
            </div>
        </a>
    </div>
    <div id="table" data-mdb-striped="true" data-mdb-fixed-header="false" data-mdb-loader-class="bg-secondary" data-mdb-border-color="secondary"
         data-mdb-full-pagination="true" 
         entriesOptions=[10, 25, 50, 200]> <!-- temporay hack for entriesOptions, which was necessary for pagination. Tired many other ways to get this to work but documentation is limited and it would not cooperate -->
    </div>

    <span id="jsonOrders" class="d-none" data-json='@Model.Json'></span>
</div>

@section Scripts {
    <script>

        var pageMixin = {
            data: function () {
                return {
                    orders: null,
                    content: null
                }
            },
            methods: { 
            },
            created() {
                if ($('#jsonOrders').attr('data-json') != "") {
                    this.orders = JSON.parse($('#jsonOrders').attr('data-json'));
                    // format dates
                    for(var i = 0; i < this.orders.length; i++) {
                        this.orders[i].OrderDate = this.formatDate(this.orders[i].OrderDate);
                    }
                    this.content = {
                        columns: [
                            { label: 'ID', field: 'OrderId', sort: true },
                            { label: 'First', field: 'First', sort: true },
                            { label: 'Last', field: 'Last', sort: true },
                            { label: 'Address Line 1', field: 'AdrL1', sort: true },
                            { label: 'Line 2', field: 'AdrL2', sort: false },
                            { label: 'City', field: 'City', sort: true },
                            { label: 'State', field: 'State', sort: true },
                            { label: 'Zip', field: 'Zip', sort: true },
                            { label: 'Subtotal', field: 'Subtotal', sort: true },
                            { label: 'Shipping', field: 'Shipping', sort: true },
                            { label: 'Total', field: 'Total', sort: true },
                            { label: 'Email', field: 'Email', sort: false },
                            { label: 'Phone', field: 'Phone', sort: true },
                            { label: 'Order Date', field: 'OrderDate', sort: true, },
                        ],
                        rows: this.orders.map((row) => {
                            return {
                                ...row,
                                edit: `<a href="/admin/order-report?orderId=${row.OrderId}" target="_blank">View</a>`
                            };
                        }),
                    };
                    new mdb.Datatable(document.getElementById('table'), this.content);
                }
            }
        };

        mixinArray.push(pageMixin);
    </script>
}